.containertabla{
   background-image:url(https://merche182.files.wordpress.com/2016/07/564852.jpg);
   background-size:cover;
   background-repeat: no-repeat;
               .giras{
                color:$letraprincipal;
                font-family: $fuentemainyfooter;
                text-align: center;
                font-weight:$estilotitulo ;
               }

               table{
                     .titulostabla{
                        color: $colortitulostablas;
                        text-align: center ;}
                     .contenidotabla{
                        color: $colorletratabla;
                        text-align: center;}   

                   }
            



                  }
               