
.bodysorteo{background-image: url(https://images.squarespace-cdn.com/content/v1/587d33a54402432706c7e9e7/1553571527181-9XX1RAML6LIVR86016WE/Arctic+Monkeys+OCESA+Lul%C3%BA+Urdapilleta++++++++++1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
.containerformulario{text-align: center;
  
                    .tituloform{
                        color: $letraprincipal;
                        font-family: $fuentemainyfooter;}
                        
                    .subtituloform{
                        color: $letraprincipal;
                        font-family: $fuentemainyfooter;}  
                    form{
                        color: $colorformulario;}
                        
                    
                    }  

               

                }