
.bodynoticias{background-color: $colorfondo ;

.containernoticias{ 
                  .noticia1{
                           color: $letraprincipal;
                           font-family: $fuentemainyfooter;
                           text-align: center;
                           background-color: $fondofooter;
                           border-radius: 45%}  
                   .parrafo1{
                          color: $colorformulario;
                          font-family: $fuentemainyfooter;
                          background-color: $fondoparrafos;}  
                   .noticia2{
                          color: $letraprincipal;
                          font-family: $fuentemainyfooter;
                          text-align: center;
                        background-color: $fondofooter;
                        border-radius: 45%}   
                    .parrafo2{
                         color: $colorformulario;
                         font-family: $fuentemainyfooter;
                         background-color: $fondoparrafos;
                         }                       
                    .noticia3{
                          color: $letraprincipal;
                          font-family: $fuentemainyfooter;
                          text-align: center;
                        background-color: $fondofooter;
                        border-radius: 45%}
                    .parrafo3{
                         color: $colorformulario;
                         font-family: $fuentemainyfooter;
                         background-color: $fondoparrafos;}
                    .noticia4{
                          color: $letraprincipal;
                          font-family: $fuentemainyfooter;
                          text-align: center;
                        background-color: $fondofooter;
                        border-radius: 45%}
                    .parrafo4{
                         color: $colorformulario;
                         font-family: $fuentemainyfooter;
                        background-color: $fondoparrafos;}

}
}