$colorfondo: black;
$colorletratitulo: white;
$titusize: 6rem;
$fuentetitulo:'Times New Roman', Times, serif;
$estilotitulo: bold;
$ubicaciontitulo: center;
$letraprincipal: rgb(241, 186, 3);
$fuentemainyfooter: Arial, Helvetica, sans-serif;
$letrahover: white;
$colorfondohover: black;
$colortitulostablas:  rgb(182, 197, 93);
$colorletratabla: white;
$colorformulario: wheat;
$estilotitulovideos:3rem;
$fondofooter:rgb(61, 61, 58);
$footersize: 25px;
$fondoparrafos: black;




    